In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/content/pima-data.csv')
df.head()

   num_preg  glucose_conc  diastolic_bp  ...  age    skin  diabetes
0         6           148            72  ...   50  1.3790      True
1         1            85            66  ...   31  1.1426     False
2         8           183            64  ...   32  0.0000      True
3         1            89            66  ...   21  0.9062     False
4         0           137            40  ...   33  1.3790      True

[5 rows x 10 columns]

In [4]:
#Label Encoding of Last Column i.e. Labels in this scenario
Label_Encoding={True:1, False:0}
df['diabetes']=df['diabetes'].map(Label_Encoding)
df

     num_preg  glucose_conc  diastolic_bp  ...  age    skin  diabetes
0           6           148            72  ...   50  1.3790         1
1           1            85            66  ...   31  1.1426         0
2           8           183            64  ...   32  0.0000         1
3           1            89            66  ...   21  0.9062         0
4           0           137            40  ...   33  1.3790         1
..        ...           ...           ...  ...  ...     ...       ...
763        10           101            76  ...   63  1.8912         0
764         2           122            70  ...   27  1.0638         0
765         5           121            72  ...   30  0.9062         0
766         1           126            60  ...   47  0.0000         1
767         1            93            70  ...   23  1.2214         0

[768 rows x 10 columns]